<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Documentos Subidos</title>
    <style>
        .documento {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .acciones a {
            margin-right: 10px;
            color: #0066cc;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Documentos Guardados</h1>

    <% if (documentos.length === 0) { %>
        <p>No hay documentos subidos.</p>
    <% } else { %>
        <% documentos.forEach(doc => { %>
            <div class="documento">
                <h3>Nombre Documento:<%= doc.nombre %></h3>
                <p>Documento Relacionado al Caso: <%= doc.id_proceso %></p>
                <p>id de registro : <%= doc.id %></p>
                <p>Fecha de Cargue: <%= doc.fecha_upload %></p>
                <p>Nombre de Archivo: <%= doc.archivo%></p>
                
                
                <div class="acciones">
                    <!-- Enlace para DESCARGAR -->
                    <a href="/descargar/<%= doc.id %>">Descargar</a>

                    <!-- Enlace para VER (si es PDF/imagen) -->
                    <% if (doc.tipo && (doc.tipo.includes('pdf') || doc.tipo.includes('image'))) { %>
                        <a href="/ver/<%= doc.id %>" target="_blank">Ver</a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    <% } %>
</body>
</html>