<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   


    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>

    <%-include ('partials/footer')%>
    

    <section id="login">
      <div class="login-container">
        <form class="login-form" id="loginForm" form action="/login" method="POST" > 
          <h2>Welcome Back</h2>

              <div class="input-group">
              <label for="login">Email</label>
             <input type="text" id="login" name="login" required />
             </div>

              <div class="input-group">
             <label for="password">Password</label>
             <input type="password" id="password" name="password" required />
             </div>

          <button type="submit">Login</button>
        </form>
        <p id="message"></p>
        <div class="link">
          Don't have an account? <a href="/registro">Sign up</a>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 DG Consulting Services. All rights reserved.</p>
      </div>
    </footer>

    
        <% if (typeof alert !="undefined") { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
          Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showconfirmButton %>,
            timer: <%= time %>
          }).then(() => {
            window.location = "<%= ruta %>";
          });
        </script>
        <% } %>

    
  </body>
</html>